/* Style untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style untuk header */
header {
    background-color: #661212;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style untuk form */
form {
    text-align: center;
    margin: 20px auto;
    background-color: #60a8d1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

/* Style untuk label pada form */
label {
    display: block;
    margin-bottom: 10px;
}

/* Style untuk input pada form */
input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style untuk tombol pada form */
button[type="submit"], button[type="button"] {
    background-color: #564a9b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

/* Style untuk hasil konversi dan penjelasan */
#result {
    background-color: #add812;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

#explanation {
    background-color: #60a8d1;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}


/* Style untuk judul hasil konversi dan penjelasan */
#result h2, #explanation h2 {
    margin-top: 0;
}
